<template>	
	<form class="add" @submit.prevent="this.adicionar">
    <b-field label="Título">
      <b-input v-model="produto.title"></b-input>
    </b-field>

    <b-field label="Descrição">
      <b-input v-model="produto.description"></b-input>
    </b-field>

    <b-field label="Url">
      <b-input v-model="produto.url"></b-input>
    </b-field>

    <div class="buttons">
      <b-button>Cancelar</b-button>
      <b-button type="is-primary" @click="adicionar(produto)">Adicionar</b-button>
    </div>
  </form>
</template>

<script>
/* eslint-disable */
import Produto from '@/services/produtos'
  export default {
      data() {
          return {
          	produtos: [],
            produto: {
            	title: '',
            	description: '',
            	url: ''
            }
          }
      },
      mounted() {

      },
      methods: {
      	adicionar(produto) {
      		Produto.criar(produto).then(() => {
      			window.console.log('Sucesso!')
            window.location.href = '/'
      		}).catch(err => {
      			window.console.log(err.response.data)
      		})
      	},
      	listar() {
      		Produto.listar().then(products => {
      			this.produtos = products.data.docs
      			window.console.log(this.produtos)
      		}).catch(err => {
      			window.console.error(err)
      		})
      	},
        mostrar(id) {
          Produto.mostrar(id).then(product => {
            this.produto.title = product.title,
            this.produto.description = product.description,
            this.produto.url = product.url

            window.console.log(this.produto)

          }).catch(err => {
            window.console.error(err)
          })
        }
      }
  }
</script>

<style scoped>
</style>