<template>
	<form class="add" @submit.prevent="this.editar">
    <b-field label="Título">
      <b-input v-model="produto.title"></b-input>
    </b-field>

    <b-field label="Descrição">
      <b-input v-model="produto.description"></b-input>
    </b-field>

    <b-field label="Url">
      <b-input v-model="produto.url"></b-input>
    </b-field>

    <div class="buttons">
      <b-button>Cancelar</b-button>
      <b-button type="is-primary" @click="editar(edit_id, produto)">Salvar edição</b-button>
    </div>
  </form>
</template>

<script>
	/* eslint-disable */
import Produto from '@/services/produtos'
export default {
  data() {
      return {
      	produtos: [],
        produto: {
        	title: '',
        	description: '',
        	url: ''
        },
        edit_id: ''
      }
  },
  mounted() {
  	this.edit_id = window.document.URL.slice(-24)
  	window.console.log(this.edit_id)
  	this.mostrar(this.edit_id)
  },
  methods: {
    mostrar(id) {
      Produto.mostrar(id).then(product => {
        this.produto.title = product.data.title,
        this.produto.description = product.data.description,
        this.produto.url = product.data.url

        window.console.log(this.produto)

      }).catch(err => {
        window.console.error(err)
      })
    },
    editar(id, produto) {
    	Produto.editar(id, produto).then(editado => {
    		window.console.log(editado.data)
    		window.location.href = '/'
    	}).catch(err => {
    		var erro = err
    		window.console.log(err.data.errors)
    	})
    }
  }
}
</script>