<template>
  <div class="home">
    <input type="text" @keyup="searchTitle" v-model="search" id="search" placeholder="Search">
    <div id="product-list" v-for="produto of produtos" :key="produto._id">
      <article>
        <img class="capa" src="../assets/images/sword.jpg" width="130" alt="gatinho!">
        <strong>{{ produto.title }}</strong>
        <p>{{ produto.description }}</p>
        <a :href="produto.url">{{ produto.url }}</a>
        <div class="actions">
          <b-button type="is-primary" @click="mostrar(produto._id)">Acessar</b-button>
          <router-link :to="{name: 'edit', params: { editId: produto._id}}">
            <b-button type="is-info" @click="editar(produto._id, produto)">Editar</b-button>
          </router-link>
          <b-button type="is-danger" @click="apagar(produto._id)">Apagar</b-button>
        </div>
        <hr>
      </article>
    </div>
    <div class="buttons navegation">
      <b-button type="is-primary" @click="prevPage()">Anterior</b-button>
      <b-button type="is-primary" @click="nextPage()">Próximo</b-button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
/* eslint-disable */
import Produto from '@/services/produtos'
// import SearchBox from '@/components/SearchBox.vue'
export default {
  name: 'home',
  // components: {
  //   SearchBox
  // },
  data() {
  	return {
  		produtos: [],
      info: {},
      page: 1,
      search: ''
  	}
  },
  mounted() {
  	this.listar(this.page)
  },
  methods: {
    urlEdit(id) {
      this.url_edit = '/edit/' + id
      return this.url_edit
    },
  	listar(page) {
  		Produto.listar(page).then(produtos => {
        const { docs, ...info } = produtos.data
  			this.produtos = docs
        this.info = info
  			console.log(info)
  		})
  	},
  	mostrar(id) {
  		Produto.mostrar(id).then(produto => {
  			window.console.log(produto.data)
  		})
  	},
  	editar(id, produto) {
  		Produto.editar(id, produto).then(editado => {
  			window.console.log(editado.data)
  		})
  	},
  	apagar(id) {
  		Produto.deletar(id).then(() => {
  			this.listar()
  			window.console.log('Apagado!')
  		})
  	},
    prevPage() {
      if (this.page === 1) return
      const pageNumber = --this.page
      this.listar(pageNumber)
    },
    nextPage() {
      if (this.page === this.info.pages) return
      const pageNumber = ++this.page
      this.listar(pageNumber)
    },
    searchTitle() {
      if (this.search == '') {
        this.listar(this.page)  
      } else {
        fetch('https://apirestjs.herokuapp.com/api/products?limit=9999', { method: 'GET' })
          .then(response => response.json())
          .then(data => {
            this.produtos = []
            for (let item of data.docs) {
              if (item.title.toUpperCase().indexOf(this.search.toUpperCase()) > -1) {
                  this.produtos.push(item)
              } else { 
                  continue
              }
            }
          })
      }
    }
  }
}
</script>

<style scoped>
.navegation {
	display: flex;
	justify-content: space-between;
	margin: 0 5px;
}

#product-list {
  margin: 20px 0;
}

#product-list .capa {
  float: left;
  margin-right: 10px;
}

#product-list article {
  min-height: 190px;
  /*background: #fff;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 5px;*/
  padding: 0 5px;
  /*margin-bottom: 20px;*/
}

#product-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

#product-list article a {
/*  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;*/
  margin: 10px 0;
  /*color: #da552f;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;*/
}

/*#product-list article a:hover {
  background: #da552f;
  color: #fff;
}*/

#product-list .actions {
  margin: 10px 0 0;
  display: flex;
  align-items: flex-end;
  /*justify-content: space-between;*/
  /*margin-bottom: 20px;*/
}

#product-list .actions a {
  margin: 0 10px 0 0;
}

#product-list .actions a button {
  margin-right: 0;
}

#product-list .actions button {
  margin: 0 10px 0 0;
  /*padding: 10px;*/
  /*border-radius: 5px;*/
  /*border: 0;*/
  /*background: #da552f;*/
  /*color: #fff;*/
  /*font-size: 14px;*/
  /*font-weight: bold;*/
  cursor: pointer;
}

#product-list .actions button:hover {
  opacity: 0.7;
}
</style>