<template>
	<button class="button is-primary is-medium" 
		@click="cardModal()">
    Launch card modal (Component)
  </button>
	<div id="product-list">
		<div v-bind:key="product._id" v-for="product in products">
			<article>
				<strong>{{ product.title }}</strong>
				<p>{{ product.description }}</p>
				<a href="#!">Acessar</a>
			</article>
		</div>
		<div class="actions">
			<button v-on:click="this.prevPage">Anterior</button>
			<button v-on:click="this.nextPage">Próximo</button>
		</div>
	</div>
</template>

<script>
import api from '../services/api'
import Create from './Create.vue'
export default {
	name: 'Main',
	data () {
		return {
			products: [],
			productInfo: {},
			page: 1
		}
	},
	methods: {
		loadProducts: async function(page = 1) {
			const response = await api.get(`/products?page=${page}`)

			const { docs, ...productInfo } = response.data

			this.products = docs
			this.productInfo = productInfo
			this.page = page
		},
		prevPage: function() {

			if (this.page === 1) return

			const pageNumber = this.page - 1

			this.loadProducts(pageNumber)
		},
		nextPage: function() {

			if (this.page === this.productInfo.pages) return

			const pageNumber = this.page + 1
			
			this.loadProducts(pageNumber)
		}

	},
	created: function() {
		this.loadProducts()
	}
}


</script>

<style scoped>
#product-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

#product-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#product-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

#product-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;
  margin-top: 10px;
  color: #da552f;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

#product-list article a:hover {
  background: #da552f;
  color: #fff;
}

#product-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#product-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#product-list .actions button:hover {
  opacity: 0.7;
}
</style>