<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> | 
      <router-link to="/add">Add</router-link>
    </div>
    <router-view/>
  </div>
</template>
/* eslint-disable */
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 950px;
  margin: 0 auto;
  padding: 10px;
}
</style>
